*{
    font-family: "Work Sans", serif;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background-color: #fbfff0;
    transition-duration: 3s;
}

#heading-1{
    display: block;
    text-align: center;
    margin-top: 60px;
}

#nameValue{
    text-align: center;
}

#container{
    display: block;
}

#id-page{
    display: block;
    align-content: center;
    height: fit-content;
    background-color:rgb(205, 232, 255);
    width: min(20em, 90%);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
}

#next{
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
}

#next:hover{
    background-color: hsl(160, 96%, 80%);
    cursor: pointer;
}

#proceed{
    display: none;
    border: 1px solid black;
    border-radius: 5px;
}

#proceed:hover{
    background-color: hsl(191, 96%, 80%);
    cursor: pointer;
}

#container-2{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#start{
    display: none;
    border: 1px solid black;
    border-radius: 5px; 
    font-size: 18px;
}

#start:hover{
    background-color: hsl(0, 96%, 80%);
    cursor: pointer;
}

#heading-2{
    display: block;
    justify-items: center;
    width: 100%;
    margin-bottom: -20px;
    transition-duration: 3s;
    position: relative;
    top: -1000px;
    text-align: center;
}

#container-3{
    display: block;
    justify-items: center;
    transition-duration: 3s;
    position: relative;
    top: -1500px;
}

#UI{
    display: flex;
    width: min(40em, 90%);
    height: fit-content;
    justify-content: space-around;
    margin-top: 30px;
}

.UI-element{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

#UI-name{
    background-color:hsl(160, 96%, 80%);
}

#UI-progress{
    background-color:hsl(0, 96%, 80%);
}

#UI-class{
    background-color:hsl(208, 96%, 80%);
}

#UI-question-box{
    margin-top: 60px;
    border-radius: 20px;
    width: min(30em, 90%);
    height: 200px;
    background-color: #ffe8cc;
    justify-items: center;
    display: block;
    transition-duration: 2s;
}

#UI-question-textbox{
    height: 55%; 
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 35px;
}

#UI-question-text{
    text-align: center;
    word-wrap: break-word;
}

#UI-question-answer-minus-button{
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    height: 96%;
    width: min(50px, 100%);
    background-color: hsl(0, 96%, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#UI-question-answer-box{
    height: 20%;
    width: 60%;
    display: none;
    justify-content: center;
}

#UI-question-answer{
    margin-left: 17.5px;
    height: 90%;
    width: 100%;
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}

#UI-question-answer-1, #UI-question-answer-2{
    height: 35px;
    width: 35px;
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
}

#UI-question-answer-symbol{
    height: 35px; 
    width: 20px; 
    margin-top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.UI-answer-box::-webkit-outer-spin-button,
.UI-answer-box::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#UI-question-submit-box{
    height: fit-content;
    width: 100%;
    margin-top: 10px;
    display: none;
    justify-content: center;
}

#UI-question-submit{
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
}

#UI-question-submit:hover{
    background-color: hsl(160, 96%, 80%);
    cursor: pointer;
}

#container-4{
    margin-top: max(-10px, -50px);
    display: block;
    justify-items: center;
    align-items: center;
    position: relative;
    top: -2000px;
    transition: 5s;
}

#result-box{
    display: block;
    width: min(30em, 90%);
    height: 250px;
    border-radius: 20px;
    margin-top: -10px;
}

#result-info-box{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#result-info-name{
    background-color:hsl(160, 100%, 80%);
    width: min(200px, 45%);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}

#result-info-class{
    background-color:hsl(208, 96%, 80%);
    width: min(200px, 45%);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}

#result-accuracy-box{
    margin-top: -10px;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result-accuracy-name{
    height: 100%;
    width: min(150px, 50%);
    font-size: 20px;
    background-color: hsl(214, 100%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0  10px;
}

#result-accuracy-result{
    height: 100%;
    width: min(120px, 40%);
    font-size: 40px;
    background-color: hsl(174, 100%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}

#result-score-box{
    margin-top: -10px;
    height: 50%;
    width: 100%;
    display: block;
    align-content: center;
    justify-items: center;
}

#result-score-name{
    margin-top: 20px;
    height: 20%;
    font-size: 20px;
    background-color: hsl(103, 100%, 80%);
    width: min(225px, 70%);
    text-align: center;
    border-radius: 10px 10px 0 0;
    word-wrap: break-word;
}

#result-score-result{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: min(225px, 70%);
    font-size: 50px;
    background-color: hsl(103, 100%, 90%);
    padding: 10px 0 10px 0;
    border-radius: 0 0 10px 10px;
}

#incorrect-question{
    width: 210px;
    height: 60px;
    text-align: center;
    word-wrap: break-word;
}

#data-confirmation{ 
    margin-top: -10px;
}

#return{
    margin-top: -10px;
    width: 70px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#return:hover{
    background-color: hsl(59, 96%, 80%);
    cursor: pointer;
}